# Firebase Configuration
VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=okrs.oolu.energy
VITE_FIREBASE_PROJECT_ID=your-project-id
VITE_FIREBASE_STORAGE_BUCKET=your-storage-bucket
VITE_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
VITE_FIREBASE_APP_ID=your-app-id
VITE_FIREBASE_MEASUREMENT_ID=your-measurement-id

# Single Sign-On
VITE_MICROSOFT_TENANT_ID=a7b0a2fa-f9a2-41fe-9e4a-bdaa847f35f9
VITE_MICROSOFT_ALLOWED_DOMAIN=igniteaccess.com
VITE_GOOGLE_ALLOWED_DOMAIN=ignite.solar
